<!DOCTYPE html>
<html>
	<head>
		<title>dish IT!</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= csrf_meta_tags %>

		<!-- adding favicon -->
		<%= favicon_link_tag 'favicon5.ico' %> 
	    <!-- favicon column  -->

	</head>
		<body ng-app="app">

			<%= yield %>
			<%= javascript_include_tag 'application' %>

		</body>
</html>
