<!DOCTYPE html>
<html>
<head>
	<title>dishIT</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= csrf_meta_tags %>

	 <%= favicon_link_tag 'favicon3.ico' %> 


</head>
<body ng-app="app">



	<%= yield %>

	<%= javascript_include_tag 'application' %>
  <script>var dishItToken = '<%= session[:dish_it_token] %>';</script>
</body>
</html>
